<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Action Plan Report</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
    html {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }

    .page {
      page-break-after: always;
    }

    body {
      page-break-after: always;
    }

    #header,
    #footer {
      padding: 0 !important;
    }
  </style>
</head>

<body>

  <body style="margin: 0;">
    <div style="width: 100%;background-color: #fff;">
      <!-- Welcome page -->
      <section>
        <div style="background-color: #fff">
          <div style="padding: 50px 0; text-align: center">
            <img src="https://costamarestage.azurewebsites.net/assets/images/logo/CM-logo-black_black.svg"
              alt="Vessel Inspection Logo" style="max-width: 250px; margin: auto" />
          </div>
          <div style="
                background-color: #1a222d;
                color: white;
                padding: 30px 0px 0px 0;
                text-align: center;
              ">
            <div style="padding: 25px 20px 0px 20px">
              <h3 style="font-size: 25px;margin-bottom: 0;margin-top: 0;  font-family: 'Open Sans', sans-serif;">
                Q3
              </h3>
              <h1
                style="font-weight: bold; font-size: 30px;margin-bottom: 0;margin-top: 0;  font-family: 'Oswald', sans-serif;">
                Action Plan Report
              </h1>

              <div style="margin: 60px 0">
                <h1
                  style="font-weight: bold; font-size: 60px;margin-bottom: 0;margin-top: 0;text-transform: uppercase;  font-family: 'Oswald', sans-serif;">
                  Sea Pioneer
                </h1>
                <h3 style="font-size: 25px;margin-top: 0;  font-family: 'Oswald', sans-serif;">IMO: 22
                </h3>
              </div>
              <h3 style="margin-top: 24px; margin-bottom: 100px; font-size: 25px;font-family: 'Open Sans', sans-serif;">
                Inspected Aug 28, 2024 at Aarhus - Aarhus <br />
                      by Mandeep Joshi
              </h3>
            </div>
            <div style="display: flex;margin-top: 149px; justify-content: flex-end">
              <img src="https://inspappstorage.blob.core.windows.net/public/vessel_images/d25494c0-36f7-4aa3-81da-e44d8fe2c007.jpg" alt="image" style="
                    width: 90%;
                    height: 360px;
                    border-radius: 500px 0px 0px 500px;
                  " />
            </div>
          </div>
        </div>
      </section>
    </div>
    </div>
  </body>


</html>