<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <style>
    html {
      -webkit-print-color-adjust: exact !important;
    }

    .page-break {
      page-break-after: always;
    }

    .header-bg {
      background-color: #192333 !important;
    }


    body {
      page-break-after: always;
    }
  </style>
</head>

<body style="margin: 0;">
  <div style="width: 100%;margin-top: 20px!important;">
    <!-- Welcome page -->
    <section style="margin: auto; margin-bottom: 20px; margin-top: 20px;">
      <div style="background-color: #fff; ">
        <div style="padding: 50px 0; margin: auto; text-align: center;">
          <img src="https://costamarestage.azurewebsites.net/assets/images/logo/CM-logo-black_black.svg" alt="Vessel Inspection Logo" style="max-width: 250px;margin: auto;">
        </div>
        <div style="background-color: #1A222D; color: white; padding: 30px 0px 0px 0; margin-top: 20px; text-align: center;">
          <div style="padding: 25px 20px 0px 20px;">
            <h3 style="font-size: 25px; margin-bottom: 0;margin-top: 0;">
              Q3
            </h3>
            <h1 style="font-weight: bold;font-size: 30px;margin-bottom: 0;margin-top: 0;">Condition Report</h1>

            <div style="margin: 115px 0; ">
              <h1 style="font-weight: bold; font-size: 60px;margin-bottom: 0;margin-top: 0;">
                Sea Pioneer
              </h1>
              <h3 style="font-size: 25px;margin-bottom: 0;margin-top: 0;">IMO:
                22
              </h3>
            </div>

          </div>
          <div style="display: flex;justify-content: flex-end;">
            <img src="https://costamarestage.azurewebsites.net/api/vessel_images/d25494c0-36f7-4aa3-81da-e44d8fe2c007.jpg" alt="image" style="
            width: 90%;
            height: 400px;
            margin-top: 50px;
            border-radius: 500px 0px 0px 500px;
          " />
          </div>
        </div>
      </div>
    </section>

    <section style="margin-bottom: 20px; margin-top: 20px;">
      <!-- Inspection Summary -->
      <div style=" padding: 20px 40px; margin-bottom: 40px;">
        <div style="width: 100%; margin:40px 0;">
          <h4 style="font-size: 30px; font-weight: 800;margin-bottom: 0;margin-top: 0;">Inspection Summary
          </h4>
        </div>
        <div style="display: flex; justify-content: space-between;">

          <div style="width: 60%;">
            <img style="margin-bottom: 15px; border-radius: 15px; width: 400px;" src="https://costamarestage.azurewebsites.net/api/vessel_images/d25494c0-36f7-4aa3-81da-e44d8fe2c007.jpg" alt="">
          </div>
          <div style="width: 40%; padding-left: 30px;">
            <div style="display: flex; flex-direction: column; align-items: center; width: 250px;  background-color: #000000; border-radius: 10px;">
              <div style="display: flex;margin-top: 15px; padding: 15px; justify-content: center; align-items: center; width: 80%;height: 60%; background-color: #FFD700; color: #808000; font-size: 50px; font-weight: bold; border-radius: 10px;">
                4,5
              </div>
              <div style="display: flex; justify-content: center; padding-bottom: 5px; align-items: center; width: 100%; color: #FFFFFF; font-size: 20px;">
                Fair
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Vessel Information title -->
      <div style="background-color: #192333; width: fit-content; border-top-right-radius: 10px; border-bottom-right-radius: 10px; padding: 7px 40px; color: #ffffff; display: flex;  align-items: center;margin:20px 0;">
        <h4 style="font-size: 20px; margin-bottom: 0;margin-top: 0;">Vessel Information
        </h4>
      </div>
      <!-- Vessel Information Conent -->
      <div style="display: flex; justify-content: space-between; padding: 20px 40px;">
        <div style="width: 30%;">
          <p style="font-size: 13px;margin-bottom: 0;margin-top: 0;"><strong>Vessel:</strong>
            Sea Pioneer
          </p>
          <p style="font-size: 13px;margin-bottom: 0;margin-top: 0;"><strong>IMO:</strong>
            22
          </p>
          <p style="font-size: 13px;margin-bottom: 0;margin-top: 0;"><strong>Flag:</strong>
            2
          </p>
          <p style="font-size: 13px;margin-bottom: 0;margin-top: 0;"><strong>Class:</strong>
            33
          </p>
          <p style="font-size: 13px;margin-bottom: 0;margin-top: 0;"><strong>DWT:</strong>
            33
          </p>
          <p style="font-size: 13px;margin-bottom: 0;margin-top: 0;"><strong>Year Built:</strong>
            33
          </p>
          <p style="font-size: 13px;margin-bottom: 0;margin-top: 0;"><strong>Teus:</strong>
            
          </p>
          <p style="font-size: 13px;margin-bottom: 0;margin-top: 0;"><strong>Engine:</strong>
            new
          </p>
          <p class="date-info" style="margin-bottom: 0;margin-top: 0;margin-bottom: 0;margin-top: 0;">
            <strong>Last Dry Dock:</strong>
            Jul 2024
          </p>
          <p class="date-info" style="margin-bottom: 0;margin-top: 0;margin-bottom: 0;margin-top: 0;">
            <strong>Next Dry Dock:</strong>
            Jul 2024

          </p>
        </div>
        <div style="width: 30%;">
          <p style="font-size: 13px;margin-bottom: 0;margin-top: 0;"><strong>Under Costamare:</strong>
            Jun 2024
          </p>
          <p style="font-size: 13px;margin-bottom: 0;margin-top: 0;"><strong>Managers:</strong>
            Robert Brown
          </p>
          <p style="font-size: 13px;margin-bottom: 0;margin-top: 0;"><strong>Charterers:</strong>
            22
          </p>
          <p style="font-size: 13px;margin-bottom: 0;margin-top: 0;"><strong>Charter Range:</strong>
            Jul 1, 2024 - Jul 15, 2024
          </p>
          <p style="font-size: 13px;margin-bottom: 0;margin-top: 0;"><strong>Hire Rate:</strong>
            22
          </p>
          <p style="font-size: 13px;margin-bottom: 0;margin-top: 0;"><strong>Off Hires:</strong>
            
          </p>
          <p style="font-size: 13px;margin-bottom: 0;margin-top: 0;"><strong>PSC:</strong> -</p>
          <p style="font-size: 13px;margin-bottom: 0;margin-top: 0;"><strong>Last Inspection Date:</strong>
            
          </p>
          <p style="font-size: 13px;margin-bottom: 0;margin-top: 0;"><strong>Last Inspection Location:</strong>
            Port of Miami, USA
          </p>
        </div>
        <div style="width: 30%; display: flex; flex-direction: column;">
          <div style="display: flex; align-items: center;">
            <h6 style="margin-right: 15px; font-size: 20px; font-weight: 600;margin-bottom: 0;margin-top: 0;">1
            </h6>
            <div style="display: flex;justify-content: center;align-items: center;background-color: #8c1719;color: #f9e4e4;text-align: center;padding: 10px;margin-bottom: 5px;font-size: 15px;border-radius: 10px;width: 100%;font-weight: 700">
              <span>Unacceptable</span>
            </div>
          </div>
          <div style="display: flex; align-items: center;">
            <h6 style="margin-right: 15px; font-size: 20px; font-weight: 600;margin-bottom: 0;margin-top: 0;">2
            </h6>
            <div style="display: flex;justify-content: center;align-items: center;background-color: #f26c49;color: #66130b;text-align: center;padding: 10px;margin-bottom: 5px;font-size: 15px;border-radius: 10px;width: 100%;font-weight: 700">
              <span>Poor</span>
            </div>
          </div>
          <div style="display: flex; align-items: center;">
            <h6 style="margin-right: 15px; font-size: 20px; font-weight: 600;margin-bottom: 0;margin-top: 0;">3
            </h6>
            <div style="display: flex;justify-content: center;align-items: center;background-color: #f4af1a;color: #7e5722;text-align: center;padding: 10px;margin-bottom: 5px;font-size: 15px;border-radius: 10px;width: 100%;font-weight: 700">
              <span>Average</span>
            </div>
          </div>
          <div style="display: flex; align-items: center;">
            <h6 style="margin-right: 15px; font-size: 20px; font-weight: 600;margin-bottom: 0;margin-top: 0;">4
            </h6>
            <div style="display: flex;justify-content: center;align-items: center;background-color: #f5dd0b;color: #80712c;text-align: center;padding: 10px;margin-bottom: 5px;font-size: 15px;border-radius: 10px;width: 100%;font-weight: 700">
              <span>Fair</span>
            </div>
          </div>
          <div style="display: flex; align-items: center;">
            <h6 style="margin-right: 15px; font-size: 20px; font-weight: 600;margin-bottom: 0;margin-top: 0;">5
            </h6>
            <div style="display: flex;justify-content: center;align-items: center;background-color: #b6d993;color: #407c3a;text-align: center;padding: 10px;margin-bottom: 5px;font-size: 15px;border-radius: 10px;width: 100%;font-weight: 700">
              <span>Satisfactory</span>
            </div>
          </div>
          <div style="display: flex; align-items: center;">
            <h6 style="margin-right: 15px; font-size: 20px; font-weight: 600;margin-bottom: 0;margin-top: 0;">6
            </h6>
            <div style="display: flex;justify-content: center;align-items: center;background-color: #3f9744;color: #d9e9b3;text-align: center;padding: 10px;margin-bottom: 5px;font-size: 15px;border-radius: 10px;width: 100%;font-weight: 700;">
              <span>Excellent</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Vessel Information sub content -->
      <div style="display: flex; justify-content: space-around; padding: 20px 40px;">
        <!-- 1 -->
        
        <div style="
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  width: 100%;
                  background-color: #000000;
                  border-radius: 10px;
                  margin-right: 10px;
                ">
          <div style="
                    display: flex;
                    margin-top: 15px;
                    justify-content: center;
                    align-items: center;
                    width: 80%;
                    min-height: 50px;
                    background-color: #ffd700;
                    color: #808000;
                    font-size: 20px;
                    font-weight: bold;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                  ">
            5
          </div>
          <div style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    font-size: 12px;
                    font-weight: bold;
                    margin: 10px;
                    word-break: break-all;
                    text-align: center;
                  ">
            Safety
          </div>
        </div>
        
        <div style="
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  width: 100%;
                  background-color: #000000;
                  border-radius: 10px;
                  margin-right: 10px;
                ">
          <div style="
                    display: flex;
                    margin-top: 15px;
                    justify-content: center;
                    align-items: center;
                    width: 80%;
                    min-height: 50px;
                    background-color: #ffd700;
                    color: #808000;
                    font-size: 20px;
                    font-weight: bold;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                  ">
            8
          </div>
          <div style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    font-size: 12px;
                    font-weight: bold;
                    margin: 10px;
                    word-break: break-all;
                    text-align: center;
                  ">
            Maintenance
          </div>
        </div>
        
        <div style="
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  width: 100%;
                  background-color: #000000;
                  border-radius: 10px;
                  margin-right: 10px;
                ">
          <div style="
                    display: flex;
                    margin-top: 15px;
                    justify-content: center;
                    align-items: center;
                    width: 80%;
                    min-height: 50px;
                    background-color: #ffd700;
                    color: #808000;
                    font-size: 20px;
                    font-weight: bold;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                  ">
            4
          </div>
          <div style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    font-size: 12px;
                    font-weight: bold;
                    margin: 10px;
                    word-break: break-all;
                    text-align: center;
                  ">
            Equipment
          </div>
        </div>
        
      </div>


    </section>


    <section style="margin-bottom: 20px;margin-top: 20px;">

      <!-- Seafarers Onboard -->
      <div style="margin-bottom: 40px;">

        <div style=" padding: 0px 40px; margin:40px 0;">
          <h4 style="font-size: 30px; font-weight: 800;">Seafarers Onboard
          </h4>
        </div>
        <div style=" padding: 0px 40px;">
          <table style="border-collapse: collapse; width: 100%; text-align: left;">
            <thead>
              <tr>
                <th style="border: 1px solid black; padding: 8px;">SN</th>
                <th style="border: 1px solid black; padding: 8px;">RANK</th>
                <th style="border: 1px solid black; padding: 8px;">DEPT</th>
                <th style="border: 1px solid black; padding: 8px;">NAT</th>
                <th style="border: 1px solid black; padding: 8px;">CREW NAME</th>
                <th style="border: 1px solid black; padding: 8px;">PCN</th>
                <th style="border: 1px solid black; padding: 8px;">SIGN ON</th>
                <th style="border: 1px solid black; padding: 8px;">DUE RELIEF</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">1</td>
                <td style="border: 1px solid black; padding: 8px;">Master</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">POL</td>
                <td style="border: 1px solid black; padding: 8px;">STENCEL, Grzegorz</td>
                <td style="border: 1px solid black; padding: 8px;">4111GLS59431</td>
                <td style="border: 1px solid black; padding: 8px;">22 Φεβ 2023</td>
                <td style="border: 1px solid black; padding: 8px;">20 Ιουλ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">2</td>
                <td style="border: 1px solid black; padding: 8px;">Chief Officer</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">UKR</td>
                <td style="border: 1px solid black; padding: 8px;">IVANOV, Gennadiy</td>
                <td style="border: 1px solid black; padding: 8px;">4111GLS63154</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Οκτ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">3</td>
                <td style="border: 1px solid black; padding: 8px;">2nd Officer</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> KYAW ZIN WIN</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_256</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">4</td>
                <td style="border: 1px solid black; padding: 8px;">3rd Officer</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> NAY MYO HTUT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_UD328824</td>
                <td style="border: 1px solid black; padding: 8px;">19 Ιουλ 2023</td>
                <td style="border: 1px solid black; padding: 8px;">19 Ιαν 2024</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">5</td>
                <td style="border: 1px solid black; padding: 8px;">Cadet-Deck</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> KAUNG KHANT KYAW</td>
                <td style="border: 1px solid black; padding: 8px;">5111GLS60825</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Μαρ 2024</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">6</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">7</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">8</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">9</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">10</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">10</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">10</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">10</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">10</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">10</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">10</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">10</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">10</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">10</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">10</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">10</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">10</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">10</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">10</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px;">10</td>
                <td style="border: 1px solid black; padding: 8px;">Bosun</td>
                <td style="border: 1px solid black; padding: 8px;">Deck</td>
                <td style="border: 1px solid black; padding: 8px;">MMR</td>
                <td style="border: 1px solid black; padding: 8px;"> MYO THANT</td>
                <td style="border: 1px solid black; padding: 8px;">NRS_425</td>
                <td style="border: 1px solid black; padding: 8px;">15 Ιουν 2023</td>
                <td style="border: 1px solid black; padding: 8px;">15 Δεκ 2023</td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>


    </section>


    <section style="margin-bottom: 20px;margin-top: 20px;">


      <!-- A. Hull -->
      
    </section>
  </div>
</body>

</html>