<style>
  html {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact !important;
  }
  #header, #footer { padding: 0 !important; }
</style>

<div style="width: 100%;" class="header-bg footer first-page">
  <div style="
      background-color: #192333;
      padding: 10px 40px;
      color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
    ">
    <div>
      <h6 style="font-size: 14px; margin-bottom: 0;margin-top: 0">
        Costamare Vessel Inspection - <%= q || '' %>
      </h6>
    </div>
    <div>
      <h6 style="font-size: 14px; margin-bottom: 0;margin-top: 0">
        <strong>Page</strong> <span class="pageNumber"></span>/<span class="totalPages"></span>
      </h6>
    </div>
  </div>
</div>